In [4]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [5]:
df = pd.read_csv("data/train.csv")
df = df.drop(["id"], axis =1)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,42,technician,married,secondary,no,7,no,no,cellular,25,aug,117,3,-1,0,unknown,0
1,38,blue-collar,married,secondary,no,514,no,no,unknown,18,jun,185,1,-1,0,unknown,0
2,36,blue-collar,married,secondary,no,602,yes,no,unknown,14,may,111,2,-1,0,unknown,0
3,27,student,single,secondary,no,34,yes,no,unknown,28,may,10,2,-1,0,unknown,0
4,26,technician,married,secondary,no,889,yes,no,cellular,3,feb,902,1,-1,0,unknown,1

In [6]:
y = df["y"]
X = df.drop("y", axis=1)

# One-hot encode categorical variables
X_encoded = pd.get_dummies(X, drop_first=True)
X_encoded.head()

,age,balance,day,duration,campaign,pdays,previous,job_blue-collar,job_entrepreneur,job_housemaid,...,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown
0,42,7,25,117,3,-1,0,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,38,514,18,185,1,-1,0,True,False,False,...,False,True,False,False,False,False,False,False,False,True
2,36,602,14,111,2,-1,0,True,False,False,...,False,False,False,True,False,False,False,False,False,True
3,27,34,28,10,2,-1,0,False,False,False,...,False,False,False,True,False,False,False,False,False,True
4,26,889,3,902,1,-1,0,False,False,False,...,False,False,False,False,False,False,False,False,False,True